{% extends "base.html" %}

{% block title %}Flask Cards{% endblock %}

{% block content %}
	<h1>Flask Card</h1>
	Question : {{card.question}} <br>
	Answer : {{card.answer}}
	<p>
		Question can you add a link to the welcome page here? <br>
		<a href="{{ url_for('welcome')}}">Home</a>
		<button>
			{% if index < max_index %}
				<a href="{{ url_for('cardView', index = index + 1)}}">Next Card</a>
			{% else %}
				<a href="{{ url_for('cardView', index=0)}}">Start Over</a>
			{% endif %}
		</button>
	</p>

	<a href="{{ url_for('removeCard', index=index)}}">Remove this card</a>
{% endblock %}